@import url('https://fonts.googleapis.com/css2?family=Coustard&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coustard&family=UnifrakturMaguntia&display=swap');


$font-logo: 'UnifrakturMaguntia', cursive;
$font-body-light: 'Coustard', serif;
$font-header-light: 'Coustard', Georgia, serif;
$main-font-color: #0000;
$secondary-font-color: #ccc;

$link-font-size: 0.85rem;