@import "./fonts.scss";

@mixin dotted-underline {
  border-bottom: 1px dotted #ccc;
}

$dotted-borders: solid 1px #ccc;

a {
  text-decoration: none;
}

body {
  font-family: $font-body-light;
}

h1 {
  font-family: $font-body-light;
  font-size: 80px;
  font-weight: 500;
}

h2 {
  font-family: $font-header-light;
}

#category {
  font-family: $font-body-light;
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 18px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.not-found {
  text-align: center;
}

.hero-title {
  .title-header {
    @include dotted-underline();
    font-family: $font-logo;
    cursor: pointer;
  }
}

.nav-container {
  border-top: $dotted-borders;
  border-bottom: $dotted-borders;
  color: black;

  .nav-link {
    color: black;
  }
}

.navbar-collapse {
  justify-content: center;
}

.article-attr{
  color: black;
  font-size: $link-font-size;
  .attribute-val{
    color: #aaa;
  }
}

.continue-read {

  a {
    font-size: $link-font-size;
    border-bottom: dotted 0.5px #ccc;
    color: black;
  }
}

.dotted-y-borders {
  border-bottom: $dotted-borders;
  border-top: $dotted-borders;
}

.blog-title {
  h1 {
    font-size: 5em;
  }
}

.nav-blog-item{
  color: black;
}

.next-blog{
  text-align: right;
}

.previous-blog{
  text-align: left;
}
